body *, body *::before, body *::after {
  margin: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
}
ul, ol, li, dl, dt, dd {
  padding: 0;
  margin: 0;
  list-style: none;
}

// 내용 숨기기
.a11yHidden {
  @include a11y;
}
.skip {
  p {
    text-align: center;

    a {
      display: block;
      padding: em(10px);

      @include a11yFocus;
    }

    a:focus {
      width: 100vw;
      height: auto;
      opacity: 1;
      background-color: #fff;

      @include custumOutline;
    }
  }

}

//button
.is-btnBox {

  &__link {
    text-decoration: none;
    color: inherit;
  }

}

//footer
footer {
  width: 100vw;
}

// 반응형 이미지
img {
  max-width: 100%;
  height: auto;
}

// 기본 설정
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: rem(16px);
  background-color: $default;
  color: $text;
}

.container {
  @include flexBox(column);
  min-height: 100vh;
 
  @include mobile{
   font-size: em(13px);
  }
 
  @include tablet{
   font-size: em(14px);
  }
 }