$blue: #15578B;
$green: #1E9660;
$yellow: #FFAB34;
$red: #FD5D5F;
$white: #fff;
$grayLight: #dadada;
$gray: #999;
$grayDark: #666;
$blackDark: #03141C;
$blackAlpha10: rgba(#000, 0.1);

$default: $white;
$primary: $green;
$secondary: $gray;
$text: $blackDark;
$alpha: $blackAlpha10; 
$warning: $red;
$outline: $blue;